a.piedpage, a.piedpage:visited {
    color:black;
    text-decoration:none;
    border-bottom:1px dashed blue;
}
a.piedpage:hover {
    cursor:pointer;
}
#refcan {
    width:100%;
    background-color:#EAEAEA;
}